@import '../sass';

.container {
}

.header {
  @include flex(column);
  figure {
    position: relative;
    margin-top: $margin;
    display: block;
  }
}

.main {
  ul.recipes {
    @include flex(row);
    flex-wrap: wrap;
    li.recipe {
      margin: 25px 25px;
    }
  }
}
