@import '../sass';

.recipe {
  position: relative;
  width: 380px;
  height: 360px;
  background-color: $gray;
  border-radius: $border-radius;

  section {
    @include square(100%);
    padding: $margin;
    height: calc(50% + $margin);
    position: absolute;
    bottom: 0;
    background-color: $light-gray;
    border-radius: 0 0 $border-radius $border-radius;
    .header {
      width: 100%;
      @include flex(row, space-between, flex-start);
      font-size: 18px;
      margin-bottom: $margin;
      & > * {
        font-size: inherit;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
      }
      p {
        font-size: inherit;
        font-weight: 700;
        @include flex(row);
        svg {
          @include square(20px);
        }
      }
    }
    .content {
      @include flex(row, center, flex-start);
      height: calc(100% - #{$margin * 2});
      position: relative;
      ul {
        margin-right: $padding;
      }
      p {
        margin-left: $padding;
      }
      & > * {
        display: block;
        width: 50%;
        height: 100%;
        font-size: 12px;
        line-height: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
      }
    }
  }
}
