@import '../sass';

form.searchbar {
  position: relative;
  @include flex(row);
  padding: $padding #{$padding * 2};
  margin: #{$margin / 2} $margin;
  background-color: $light-gray;
  border-radius: $border-radius;
  width: calc(100% - #{$margin * 2});
  input {
    font-size: 18px;
    width: 100%;
  }
  button {
    cursor: pointer;
    @include square(32px);
  }
}
